body {
	background-color: darkgray;
}
#title {
    padding: 25px 15px 15px 15px;
    padding-left: 15px;
}
#description {
    padding-left: 15px;
}
.title-container {
		background-color: gray;
    background-size: cover;
    height: 500px;
}
#notes {
    padding: 5px 5px 5px 5px;
    text-align: center;
    display: none;
}
#notes > input {
    display: block;
    padding: 5px 5px 5px 5px;
    margin-left: auto;
    margin-right: auto;
    border: solid black 2px;
}
#notes > textarea {
    display: block;
    padding: 5px 5px 5px 5px;
    margin-top: 5%;;
    margin-left: auto;
    margin-right: auto;    
    text-align: center;
    border: solid black 2px;
    width: 25%;
    height: 25%;
}
#submit {
    margin-top: 2%;
    margin-left: 10%;
}

/* Article */
.take-note {
    padding:5px 5px 5px 5px;
    margin:5px 5px 5px 5px;
    border-radius: 5%;
}
.take-note:hover {
    background-color: black;
    color: white
}
#articles {
    margin-left: 35px;
}
#articles > p {    
    border: solid black 1px;
    padding: 5px 5px 5px 5px;
    margin-top: 2%;
}
#articles > button {
    margin-top: 2%;
    margin-bottom: 2%;
}
#notes-output {
    display: none;
}
.getnote {
    padding:5px 5px 5px 5px;
		margin:5px 5px 5px 5px;
		border-radius: 5%;
}
.getnote:hover {
    background-color: black ;
    color: white
}
.hide {
    padding:5px 5px 5px 5px;
		margin:5px 5px 5px 5px;
		border-radius: 5%;
}
.hide:hover {
    background-color: black ;
    color: white
}
.delete {
	  padding:5px 5px 5px 5px;
		margin:5px 5px 5px 5px;
		border-radius: 5%;
}
.delete:hover {
    background-color: black ;
    color: white
}